<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Account Verification</title>
   </head>
   <body>
      <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;">
         <h1 style="font-size: 24px; margin-bottom: 20px; color: #333;">Account Verification</h1>
         <p style="margin-bottom: 10px;">Hello,</p>
         <p style="margin-bottom: 10px;">We received a request to verify your account. If you didnt make this request, please ignore this email.</p>
         <p style="margin-bottom: 10px;">To verify your account, please use the following One-Time Password (OTP):</p>
         <div style="background-color: #e6f1fb; padding: 10px; font-size: 20px; margin-bottom: 20px; color: #2364AA; font-weight: bold; border-radius: 5px;">
            {{ otp }}
         </div>
         <p style="margin-bottom: 10px;">Please enter this OTP in the provided field on the account verification page.</p>
         <p style="margin-bottom: 10px;">If you didnt initiate this account verification, please ensure the security of your account and consider changing your password.</p>
         <p style="margin-bottom: 10px;">Thank you,</p>
         <p style="margin-bottom: 10px;">The BookTrade App</p>
      </div>
   </body>
</html>